body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style anchor tags*/
a{
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
}

/* Styling nav tags start==========================================================================================================================*/
nav {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
}

/* Styling ul of nav - about, projects, contact*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*Styling li of nav*/
nav li {
    margin-right: 20px;
}

/*Styling anchor tags of nav*/
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

/*Styling hover on nav*/
nav a:hover {
    color: #2980b9;
}
/* Nav Styling over===========================================================================================================================*/

/*Styling header start ====================================================================================================================*/

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    height: 40vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

/*Header styling end==========================================================================================================================*/

/* Section styling start====================================================================================================================*/
.about-me,
.projects,
.certifications,
.contact {
    background-color: #f4f4f4;
    padding: 40px 0;
}

section h2 {
    text-align: center;
}

/*Project class*/
.project {
    margin-bottom: 20px;
}

.project button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*Project button anchor tag*/
.project button a{
    text-decoration: none;
    color: #fff;
}
.project button:hover {
    background-color: #2980b9;
}

/*Certifications Section start----------------------------------------------------------------------------------------------------*/
.content{
    background-color: white; /*rgb(107, 147, 148)*/
    display: flex;
}

.box1{
    background-color:rgba(128, 128, 128, 0.6);
    flex: 70%;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px 0 0 10px;
}
.box2{
    flex: 30%;
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: 10px;
}

.box-heading h2{
    text-align: center;
}

button{
    /* background-color: rgb(243, 144, 6); */
    margin: 10px; /* Add spacing between buttons if desired */
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: rgb(128, 114, 114); /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Add cursor pointer on hover */
}

.box-button{
    background-color: #222f3d;
    /* align-items: center; */
    text-align: center;
}

button:hover{
    background-color: azure;
    color: black;
}

.box-button a:hover{
    background-color: azure;
    color: black;
}

.img6-box2{
    background-color: white;
    background-image: url('certifications.png');    
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*Certifications section end-------------------------------------------------------------------------------------------------------*/

/*Footer start==============================================================================================================================*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/*Footer End=================================================================================================================================*/
