body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/* Styling nav tags start==========================================================================================================================*/
nav {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
}

/* Styling ul of nav - about, projects, contact*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*Styling li of nav*/
nav li {
    margin-right: 20px;
}

/*Styling anchor tags of nav*/
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

/*Styling hover on nav*/
nav a:hover {
    color: #2980b9;
}
/* Nav Styling over===========================================================================================================================*/

/*Styling header start ====================================================================================================================*/

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px 0;
    height: 40vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

/*Header styling end==========================================================================================================================*/


/*Hero Section-------------------------------------------------------------------------------------------------*/
.hero-section{
    background-image: url("img_hero.jpg");
    background-size:cover;
    height: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start; /* Center horizontally */
    align-items: center; /* Align to the top */
}

.hero-intro{
    text-align: center;
    
}

h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

.hero-socials {
    display: flex;
    gap: 10000px; /* Adjust this value to control the spacing between list items */
    margin-top: auto; /* Add margin to push the list down from the top */
    justify-content: center;
}

.socials li {
    display: inline;
    margin-bottom: 30px;
    margin-right: 20px;
    
}

/*Hero para*/
.hero-para{
    
    font-size: small;
    text-align: center;
    margin: 10 px;
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color to yellow, adjust as needed */
    color: black;
}
/*Hero Section End----------------------------------------------------------------------------------------------*/


/* Section styling start====================================================================================================================*/
.about-me,
.projects,
.contact {
    background-color: #f4f4f4;
    padding: 40px 0;
}

section h2 {
    text-align: center;
}

/*Project class*/
.project {
    margin-bottom: 20px;
}

.project button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*Project button anchor tag*/
.project button a{
    text-decoration: none;
    color: #fff;
}
.project button:hover {
    background-color: #2980b9;
}

/*Footer start==============================================================================================================================*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/*Footer End=================================================================================================================================*/
